<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | Sunaina Saini</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

<div class="hero">

    <div class="hero-text">

        <h3>Hello 👋</h3>

        <h1>I'm <span>Sunaina Saini</span></h1>

        <h2>Artificial Intelligence & Machine Learning Student</h2>

        <p>
            Passionate about Python, Machine Learning,
            Data Science, Flask Development and Web Scraping.
        </p>

        <a href="/portfolio" class="btn">
            View Portfolio →
        </a>
        <a href="/learnmore" class="btn">
            Learn More</a>
    </div>

    <div class="hero-image">

       <img src="{{ url_for('static', filename='../static/images/sunaina.jpeg') }}" alt="Sunaina profile">
    </div>
</div>

</body>
</html>